include LICENSE
include README.md
graft django-uswds/templates
graft django-uswds/static
exclude .gitignore
exclude django-uswds/static/django-uswds/uswds/css/main.scss
exclude django-uswds/static/django-uswds/package.json
