include LICENSE
include README.md
graft django_uswds/templates
graft django_uswds/static
exclude .gitignore
exclude django_uswds/static/django_uswds/uswds/css/main.scss
exclude django_uswds/static/django_uswds/package.json
