<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {% load staticfiles %}

  <!-- Mobile properties -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS -->
  {% load compress %}

  {% compress css %}
  <link href="{% static 'django_uswds/uswds/css/uswds.min.css' %}" rel="stylesheet" type="text/css"/>
  {% endcompress %}


  <title>
  {% block pagetitle %}{% endblock pagetitle %}
  </title>

  {% block extra_head_content %}{% endblock extra_head_content %}
</head>
<body>

  {% block content %}{% endblock content %}

  <script src="{% static 'django_uswds/uswds/js/uswds.min.js' %}"></script>

  {% block extra_foot_content %}{% endblock extra_foot_content %}
</body>
</html>
